* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    overflow: hidden;
    display: flex;
    background:#014d59;
}

 .visibility-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;

} 

.users-col {
    width: 33%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: scroll;
    background: #fff;
    background:#014d59;

}
.users-col::-webkit-scrollbar{
    background: #014d59; 
    border-right: 2px solid #00262c;
}
.users-col::-webkit-scrollbar-thumb{
    background: red;
    border-radius: 12px;
    border: 2px solid #00262c;
}
.users__all-data {
    width: 100%;
    height: 400px;
    background: #00262c;
    display: flex;
    flex-wrap: wrap;
    margin-bottom:20px;
    border-top: 3px solid red;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.data__company {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    color: #fff;
    padding: 10px 5px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding-top: 30px;

}

.company__name {
    width: 100%;
    text-align: center;
    margin: 10px;
    font-family: 'Patua One', cursive;

}

.company__catchPhrase {
    width: 100%;
    padding: 5px 0px;
    font-size: 14px;
    font-family: 'Patua One', cursive;
    font-family: 'Patua One', cursive;

}

.company__bs {
    width: 100%;
    padding: 5px 0px;
    font-size: 14px;
    font-family: 'Patua One', cursive;
    opacity: .8;

}

.data__users-data {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
    color: #fff;
    border-bottom: 1px solid #fff;

}

.data__userId {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 18px;
    width: 25px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.data__userId::after {
    content: "";
    position: absolute;
    left: -60px;
    top: -60px;
    width: 100px;
    height: 100px;
    background: rgb(255, 0, 0);
    border-radius: 50%;
    z-index: -1;
}

.data__userName {
    width: 100%;
    text-align: center;
    padding: 5px 0px;
    border-bottom: 1px solid #fff;
    font-family: 'Kumar One Outline', cursive;

}

.data__name {
    padding: 5px 0px;
    font-family: 'Patua One', cursive;

    
}

.links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 10px 0px;
    font-family:'Akshar', sans-serif ;
  
}

.data__location {
    text-decoration: none;
    color: red;
    font-size: 18px;
    
    margin: 5px 0px;
    transition: .5s;
    font-family:'Akshar', sans-serif ;

}
.data__location:hover{
    transform: translateY(-10px);
}
.data__email {
    color: rgb(251, 105, 52);
    text-decoration: none;
    font-size: 18px;
    font-style: italic;
    margin: 5px 0px;
    transition: .5s;
    font-family:'Akshar', sans-serif ;

}
.data__email:hover{
    transform: translateY(-10px);
}

.data__website {
    color: rgb(52, 251, 234);
    text-decoration: none;
    font-size: 18px;
    font-style: italic;
    margin: 5px 0px;
    transition: .5s;
    font-family:'Akshar', sans-serif ;

}
.data__website:hover{
    transform: translateY(-10px);
}
.data__phone {
    color: rgb(75, 251, 52);
    text-decoration: none;
    font-size: 18px;
    font-style: italic;
    margin: 5px 0px;
    transition: .5s;
    font-family:'Akshar', sans-serif ;

}
.data__phone:hover{
    transform: translateY(-10px);
}
.data__address{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}
.address__city{
    width: 100%;
    padding: 10px 0px;
    font-size: 14px;
    font-family:'Akshar', sans-serif ;
    
}
.address__street{
    width: 100%;
    padding: 10px 0px;
    font-family:'Akshar', sans-serif ;

    font-size: 14px;
}
.address__suite{
    width: 100%;
    font-size: 14px;
    padding: 10px 0px;
    font-family:'Akshar', sans-serif ;

}
.address__zipcode{
    width: 100%;
    padding: 10px 0px;
    font-family:'Akshar', sans-serif ;

    font-size: 14px;

}

.read-posts{
    background: rgb(2, 141, 255);
    color: #fff;
    padding: 10px 15px;
    border: none;
    font-family: sans-serif;
    transition: .3s;
}
.read-posts:hover{
    background: rgb(2, 65, 255);
    color: #fff;

}
.read-posts:active{
    opacity: .1;
}
.posts-col{
    width: 33%;
    height: 100vh;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: scroll;
    background:#014d59;
    position: relative;
}
.posts-col::-webkit-scrollbar{
    background: #014d59;
    border-right: 2px solid #00262c;
    
}
.posts-col::-webkit-scrollbar-thumb{
    background: red;
    border-radius: 12px;
    border: 2px solid #00262c;

}

.post__texts{
    background: #00262c;
    width: 90%;
    height: 200px;
    display: flex;
    flex-direction: column;
    color: #fff;
    position: relative;
    border-top-left-radius:20px ;
    border-top-right-radius: 20px ;
    border-bottom-right-radius: 20px ;
    padding:10px 20px;
    margin-bottom:20px;
}
.post__texts::after{
    content: "";
    background: #014d59;
    position: absolute;
    width: 70px;
    height: 70px;
    right: 100%;
    bottom: 0px;
    border-radius: 50%;
}
.post__texts::before{
    content: "";
    background: #00262c;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 100%;
    bottom: 0;
}
.text__title{
    padding: 10px;
    font-size: 16px;
    text-transform: uppercase;
    font-family:'Akshar', sans-serif ;

}
.text__body{
    padding: 10px;
    opacity: .8;
    font-size: 13px;
    font-family: 'Patua One', cursive;

}

.comment-col{
    width: 33%;
    height: 100vh;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: scroll;
    background:#014d59;
}
.comment-col::-webkit-scrollbar{
    background: #014d59;
    border-right: 2px solid #00262c;
    
}
.comment-col::-webkit-scrollbar-thumb{
    background: red;
    border-radius: 12px;
    border: 2px solid #00262c;

}
.comment__texts{
    background: #00262c;
    width: 90%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    position: relative;
    border-top-left-radius:20px ;
    border-top-right-radius: 20px ;
    border-bottom-right-radius: 20px ;
    padding:10px 20px;
    margin-bottom:20px;
}
.comment__texts::after{
    content: "";
    background: #014d59;
    position: absolute;
    width: 70px;
    height: 70px;
    right: 100%;
    bottom: 0px;
    border-radius: 50%;
}
.comment__texts::before{
    content: "";
    background: #00262c;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 100%;
    bottom: 0;
}
.texts__title{
    color: #fff;
    font-family:'Akshar', sans-serif ;
    text-transform: uppercase;
    padding: 10px 0px;
    font-size: 16px;

} 
.texts__body{
    font-family: 'Patua One', cursive;
    padding: 0px;    
    font-size: 14px;
    opacity: .8;

}
.texts__email{
    width: 50px;
    color: rgb(251, 105, 52);
    text-decoration: none;
    font-size: 18px;
    font-style: italic;
    margin: 5px 0px;
    text-align: center;
} 


.loader-overlay{
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.755);
    
    color: #fff;
}
.ring{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: ring 2s linear infinite;
    
}
@keyframes ring {
    0%{
        transform: rotate(0deg);
        box-shadow:1px 5px 2px #e64c00;

    }
    50%{
        transform: rotate(180deg);
        box-shadow:1px 5px 2px #18b201;

    }
    100%{
        transform: rotate(360deg);
        box-shadow:1px 5px 2px #0456c8;

    }
    
}
.ring::before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255,255,255, .3);
}
.span{
    color: #737373 ;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 200px;
    animation: text 3s ease-in-out  infinite;
}
@keyframes text {
    50%{
        color: rgba(0, 0, 0, 0.753);
    }
}